#vl-results-table { font-size:14px; line-height:18px;
	.top-controls-wrap { display:flex; align-items:flex-end; justify-content:space-between; padding-bottom:10px; border-bottom:1px solid #cecece; margin-bottom:10px;
		.dt-button { font-size:14px; line-height:18px; }
		.dtsb-searchBuilder { margin-bottom:0;
			div.dtsb-group { margin-bottom:0; }
			div.dtsb-titleRow div.dtsb-title { padding-top:0; }
			// Fix
			div.dtsb-group div.dtsb-criteria div.dtsb-inputCont input.dtsb-value { width:auto; }
		}
		.dtsb-criteria {
			input, select { height:33px; }
		}
		.dt-buttons { float:none; }
		button.dt-button, div.dtsb-searchBuilder button.dtsb-button { font-size:1em; line-height:1.25em; }
		button.buttons-colvis { margin-bottom:0; }
		.dt-button-collection {
			.dt-button { padding-top:0.2em; padding-bottom:0.2em; }
			button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled), div.dt-button:active:not(.disabled), div.dt-button.active:not(.disabled), a.dt-button:active:not(.disabled), a.dt-button.active:not(.disabled) { background:linear-gradient(to bottom, #dadada 0%, #c6c6c6 100%); }
		}
	}
	.table-wrap { overflow-x:auto; width:100%; }
	.bottom-controls-wrap { padding-top:10px; display:flex; align-items:baseline; justify-content:space-between;
		.dataTables_length { padding-right:20px; }
		.dataTables_info { padding-top:0; flex-grow:1; }
		.dataTables_paginate { padding-top:0;
			.paginate_button { padding:0.3em 0.8em; line-height:1.25em; }
		}
	}
}
#vl-datatable { display:none;
	.dataTables_wrapper & { display:table; }
	th { white-space:nowrap; }
	tr { text-shadow:1px 1px 0 rgba(255,255,255,0.2);
		&.row-error { background-color:#ffe1e1; }
		&.row-redirect { background-color:#fff4e2; }
		&.row-okay { background-color:#ecffe6; }
	}
	.vl-page { min-width:180px; }
	.vl-link, .vl-redirect {
		a { color:#354b60; word-break:break-word; }
	}
	.vl-checked { width:1%; white-space:nowrap; }
	td {
		&.vl-alert { color:#d00000; }
	}
}
